/* * {
  outline: 1px solid #228a09;
} */

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}
button {
  background-color: transparent;
  padding: 0;
  border: 0;
  cursor: pointer;
}

body {
  font-family: "Inter", sans-serif;
  margin: 0 auto;
}

.wrapper {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  /* background-image: linear-gradient(
    109.6deg,
    rgba(255, 221, 225, 1) 11.2%,
    rgba(255, 255, 255, 1) 92.2%
  ); */
  background-color: whitesmoke;
}
.container {
  max-width: 1280px;
  width: 100%;
  padding: 0 30px;
  margin: 0 auto;
}

.title {
  font-weight: 600;
  font-size: 30px;
  line-height: 1.2;
  margin-bottom: 30px;
  color: #1b1b1b;
}

p {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2;
  color: #1b1b1b;
}

.header {
  position: fixed;
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  z-index: 100;
  background-image: linear-gradient(19deg, #faaca8 0%, #ddd6f3 100%);
}

.header__inner {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0px;
}

.header__title {
  font-weight: 500;
  font-size: 28px;
}

.menu {
  max-width: 100%;
  margin-right: 10px;
}

.menu__nav {
  display: flex;
  gap: 30px;
}

.menu__item {
  font-weight: 500;
  font-size: 20px;
}

/* Hamburger */

.hamb {
  display: none;
  height: 28px;
}

.bar {
  display: block;
  width: 28px;
  height: 3px;
  margin: 5px auto;
  transition: 0.3s;
  background-color: #131212;
}

/* Main section */

.top {
  margin-bottom: 60px;
  padding-top: 79px;
}

.top__swiper {
  min-height: 600px;
}

.container__top {
  padding: 0px;
}

.top-slide__inner {
  min-height: 600px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.top-slider__iner-content {
  display: flex;
  flex-direction: column;
}

.top-slide {
  min-height: 600px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}

.top-slider__inner-box {
  display: flex;
  flex-direction: column;
}

.btn-slide-right {
  margin-left: auto;
  margin-right: 40px;
}

.top-slide__inner-left {
  display: flex;
  gap: 20px;
}

.top-slide_content-img {
  padding: 30px 0;
}

.top-slide__img-1 {
  display: none;
}

.top-slide__content {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
}

.top-slide__title {
  font-weight: 500;
  font-size: 36px;
  line-height: 1.3;
}

.top-slide__text {
  font-size: 18px;
}

.top-slide__btn-box {
  padding: 20px 0;
}

.top-slide__btn {
  margin-left: auto;
}

.button {
  color: #ca7ce9;
  font-weight: 700;
  padding: 18px 30px;
  border: 1px solid #7449bb;
  border-radius: 8px;
  display: inline-block;
}

.button:hover {
  color: #fff;
  background-color: #7449bb;
  transition: all 0.3s ease;
}

.swiper-button-prev::after,
.swiper-button-next:after {
  content: none;
}

.container-arrow {
  position: relative;
  padding: 0px;
  max-width: 1200px;
}

.top .swiper {
  padding-bottom: 50px;
}

.swiper-button-next {
  left: 75px;
  right: auto;
  top: 10px;
}

.swiper-button-prev {
  top: 10px;
}

.swiper-pagination {
  display: none;
}

/* About-section */

.about {
  margin-bottom: 80px;
  overflow: hidden;
  background-image: url(../images/);
}

.about__title {
  margin-bottom: 20px;
}

.about__textbox {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.about__text {
  line-height: 1.2;
  max-width: 800px;
}

.about__text p {
  line-height: 1.3;
  margin-bottom: 15px;
  text-align: justify;
}

.about__item-title {
  margin-bottom: 20px;
}

.about__present-history {
  display: flex;
  flex-direction: row;
  gap: 0 20px;
  margin: 10px 0;
}

.about__present-text {
  text-align: justify;
}

.about__item img {
  border-radius: 8px;
  border: 1px solid #fcc6bf;
}

.about__present h2 {
  margin-bottom: 30px;
  display: flex;
  font-weight: 500;
  font-size: 36px;
  line-height: 1.34;
  color: #000000;
}

.about__present-text h3 {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 10px;
}

.about__present-iris-box {
  padding: 20px 0px;
}

.about__present-description {
  width: 100%;
}
.about-img {
  width: 191px;
  height: 191px;
  float: left;
  margin: 0 20px 4px 0;
  border-radius: 8px;
}

.about__present-iris img {
  border-radius: 8px;
  float: left;
}

/* Section-perfume */

.section__perfume {
  overflow: hidden;
}

.about__slider {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  padding-bottom: 10px;
}

.about__slider h2 {
  text-transform: uppercase;
  font-size: 24px;
  margin-bottom: 10px;
  margin-bottom: 20px;
}

.perfume__inner {
  max-width: 800px;
  padding-bottom: 20px;
}

.about__item-title {
  font-weight: 600;
  font-size: 20px;
  padding: 20px 0 0px 0;
}

.about__item-price {
  font-size: 18px;
  font-style: italic;
}

.about-price {
  font-size: 21px;
  font-style: italic;
}

p {
  font-size: 18px;
  line-height: 1.2;  
}

.about__item-btn {
  margin-bottom: 80px;
  display: inline-block;
  width: 204px;
}
.btn__order {
  width: 204px;
}

/* Gallery */

.gallery__btn {
  margin-top: 0px;
  border: none;
  outline: none;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  background-color: #7449bb;
  transition: background-color 0.3s;
  cursor: pointer;
}
.gallery__btn:hover {
  background-color: #c974fa;
}
.swiper-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px; 
}
.about-pagination {
  display: block;
}
.about-pagination {
  flex: 1; 
  text-align: center;
}
.swiper-pagination-bullet-active {
  background-color: #7449bb !important;
}

/* Section-accordeon */


.accordeon {
  margin-bottom: 80px;
}

.accordeon__item {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  position: relative;
}

/* .accordeon__item::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 51px;
  background-image: url(../images/arrow-down.svg);
  right: 85px;
  top: 50px;
  cursor: pointer;
} */

.accordeon__item:last-child::after {
  content: "";
  position: absolute;
  background-image: url(../images/accordeon1-img.jpg);
  width: 65px;
  height: 120px;
  bottom: -64px;
  left: 238px;
  border-radius: 8px;
}

.accordeon__triger {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  padding-top: 50px;
  align-items: flex-start;
}

.accordeon__triger-title {
  font-size: 24px;
  flex-basis: 400px;
  flex-basis: 250px;
  padding-bottom: 42px;
  padding-left: 80px;
  padding-left: 40px;
}
.accordeon__question {
  display: flex;
  justify-content: space-between;
}
.accordeon__triger-text  {
  /* flex-basis: 810px; */
  max-width: 610px;
  margin-right: 40px;
  padding-bottom: 20px;
  text-align: justify;
}
.accordeon__triger-text p {
  font-size: 18px;
  font-weight: 500;
}
.accordeon__icon {
  margin-right: 40px;
  width: 16px;
  height: 16px;
}
.accordeon__content  {
  line-height: 1.4;
  padding-bottom: 20px;
  display: none;
  padding-left: 30%;
  padding-right: 9%;
}
.accordeon__content p {
  font-size: 16px;
  line-height: 1.5;
}

.accordeon__item--active .accordeon__content {
  display: block;
  animation: fade 1s ease-in-out;
}
.accordeon__item--active .accordeon__icon {
  transform: rotate(180deg);
  transition: transform 0.5s ease-in;
}
@keyframes fade {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
.accordeon__content p {
  margin-bottom: 10px;
}

/* Section-lipstick */

.products__lipstick {
  margin-bottom: 80px;
}

.products__inner {
  position: relative;
  min-height: 647px;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}

.products__inner-box {
  display: flex;
  flex-direction: column;
}

.products__item-lipstick {
  max-width: 800px;
  padding: 0 0 30px 0;
}

.products__item-lipstick {
  text-align: justify;
}

.products__items {
  display: flex;
  flex-direction: column;
}

.products__item-box {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}

.products__item {
  text-align: center;
  min-height: 350px;
}

.products__item-step {
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 20px;
}

.products__item-img {
  margin-bottom: 20px;
  border-radius: 8px;
  border: 1px solid #fcc6bf;
}

.products__item-name {
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 16px;
}

.products__item-name span {
  display: block;
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 10px;
}

.products__item-price {
  line-height: 1.34;
  font-size: 18px;
  font-style: italic;
}

.products__item-price span {
  font-size: 21px;
  font-style: italic;
}
.video {
  margin-bottom: 150px;
}

.video__box {
  margin: 0 auto;
  height: 500px;
  width: 80%;
  background-image: url(../images/video1-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}

/* Footer */

.footer {
  max-width: 100%;
  background-color: #f5d7f3;
  background-image: linear-gradient(19deg, #faaca8 0%, #ddd6f3 100%);
}

.footer__inner {
  max-width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 40px 0 20px 0;
}

.footer__top {
  display: flex;
  justify-content: space-around;
}

.footer__img {
  border-radius: 8px;
  margin-top: 20px;
}

.footer__item + .footer__item {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  border: 1px solid #fcc6bf;
}

.footer__item {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0 30px 0 30px;
}

.footer__item-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer__item li {
  font-weight: 500;
  font-size: 16px;
}

.footer__item-title {
margin-bottom: 0;
}

.footer__item-social {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0px;
}

.footer__social {
  font-size: 20px;
  padding: 0px;
}
.footer__item-reg {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer__item-form {
  position: relative;
}

.footer__item-input {
  max-width: 100%;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.4;
  border: none;
  color: #1b1b1b;
  background-color: #f5d7f3;
  border-bottom: 1px solid #000;
}

.contact-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer__social {
  display: flex;
  gap: 20px;
}

.footer__social-list {
  display: flex;
  align-items: flex-end;
  gap: 0 20px;
}

.footer__item-list li {
  padding-top: 10px;
}

.footer__social-item + .footer__social-item {
  margin-top: 20px;
}

.footer__social-item svg path {
  transition: all 0.3s;
}

.footer__social-item svg:hover path {
  fill: #7449bb;
  background-color: #c974fa;
}

.footer__social-link {
  width: 25px;
  height: 25px;
  display: block;
}

.footer-copyright {
  font-size: 14px;
  padding: 14px 0 20px 0;
  text-align: left;
}
